

.rounded-st-eb{
  border: 20px;
  border-radius: 20px 0 20px 0;
}

.btn-page{
  outline: none;
  border: solid 1px #6C757D;
  border-radius: 100px;
  padding: 4px 16px;
}

.article{
  &-btn-card{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;  
    letter-spacing: 2px;
  }
}

.text-gray-300{
  color: #343A40;
  letter-spacing: 3px;
  span{
    color: #ADB5BD;;
  }
}

.page{
  span{
    color: #6C757D;
    margin: 0 20px;
  }
}

.list-style-inside{
  list-style-position: inside;
}

.rounded-left-top{
  border-radius: 20px 0 0 20px;
}

.rounded-right-bottom{
  border-radius: 0 20px 20px 0;
}

.popular{
  &-li:hover{
    background-color: #E0EFDE;
    transition-duration:.3s ;
  }
}


[data-aos="line-animation"]{
  position: relative;
}

[data-aos="line-animation"]::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFFDF5;
  transition: width 1s;
}

[data-aos="line-animation"].animate__animated::after{
  width: 0;
}
